<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.smsspamguard" android:versionCode="10"> 
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.WRITE_SMS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:theme="@android:style/Theme.NoTitleBar">
		<activity android:name=".activity.Main" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name="com.smsspamguard.activity.Preferences"
			android:label="@string/title_preferences" />
		<activity android:name="com.smsspamguard.activity.Blacklist"
			android:label="@string/title_blacklist" />
		<activity android:name="com.smsspamguard.activity.BlacklistSender"
			android:label="@string/title_blacklist_sender" />
		<activity android:name="com.smsspamguard.activity.BlacklistText"
			android:label="@string/title_blacklist_text" />
		<activity android:name="com.smsspamguard.activity.Whitelist"
			android:label="@string/title_whitelist" />
		<activity android:name="com.smsspamguard.activity.WhitelistSender"
			android:label="@string/title_whitelist_sender" />
		<activity android:name="com.smsspamguard.activity.WhitelistText"
			android:label="@string/title_whitelist_text" />
		<activity android:name="com.smsspamguard.activity.Spams"
			android:label="@string/title_spams" />
		<activity android:name="com.smsspamguard.activity.SpamFromInbox"
			android:label="@string/title_spam_from_inbox" />


		<receiver android:name="com.smsspamguard.receiver.SmsIntentReceiver"
			android:enabled="true">
			<intent-filter android:priority="100">
				<action android:name="android.provider.Telephony.SMS_RECEIVED" />
			</intent-filter>
		</receiver>
		<receiver android:process=":remote"
			android:name="com.smsspamguard.receiver.AlarmReceiver"></receiver>
			
		<receiver android:name="com.smsspamguard.receiver.StartUpReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<category android:name="android.intent.category.HOME" />
			</intent-filter>
		</receiver>
		
		<service android:name="com.smsspamguard.service.CreateDB"> </service>
	</application>
	<uses-sdk android:minSdkVersion="7" />
</manifest> 